#mainPage {
    width: 960px;
    position: relative;
    margin:0 auto;
    right: 10px;
    top: 10px;
}
#descrPage{
    width: 960px;
    position: relative;
    margin:0 auto;
    right: 10px;
    top: 10px;
}
#logo{
    height: 150px;
    width: 200px;
    position: relative;
    left: 15px;
    top: -3px;
}
ul.menu {
    display: block;
    margin: 0 auto;
    padding: 10;
    top: 10px;
}
ul.menu li {
    display: inline; 
    margin-right: 5px; 

    padding: 3px; 
    color: aliceblue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
}
.logoSite {
    display: flex;
}

.logoSite > a {
    margin: 5px;
}

.logoSite > span {
    width: 100%;
}

#menuBlock {

 height: 100px;

 margin: 0 auto;
 text-align: center;
 vertical-align: middle;
}

ul.menu {

 display: flex;
 margin: 0 auto;
 padding: 10;
 vertical-align: middle;
 justify-content: center;
 margin-top: 20px;

}
body{
   background: url(https://fireandblood12.github.io/webprogbase-lab1/images/serial-social-s2.jpg) no-repeat center center fixed;
   background-size: cover;
}
#siteName {
    color: aliceblue;
    font-size: 100px;
    font-family: fantasy;
    margin: 50px;
}
#usersTable {
    width: 800px;
    border: 1px solid green; 
    margin: 0 auto;
    border-collapse: collapse;
    bottom: 10px;
}
caption{
    font-size: 30px;
    color: bisque;
}
table { 
    width: 100%;
    border: 4px double black; 
    border-collapse: collapse;
    font-size: 25px;
}
th { 
    text-align: left; 
    background: #ccc; 
    padding: 5px;
    border: 1px solid black; 
}
td { 
    padding: 5px;
    border: 1px solid black;
}
a:visited {
    color: aliceblue;
}
.ava{
    border-radius: 300px; 
    border: 3px solid green;
    box-shadow: 0 0 7px #666;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#userInfo{
    background-color: dodgerblue;
    width: 550px;
    height: 135px;
    position: relative;
    margin:0 auto;
    display: block;
    text-align: center;
    color: aliceblue;
    border-radius: 20%;
    bottom: 20px;
}
#userBio{
    bottom: 20px;
    color: aliceblue;
    font-size: 35px;
}
#serialsBlock{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    background-color: dodgerblue;
    width: 550px;
    height: 535px;
    margin:0 auto;
    display: block;
    border-radius: 20%;
}
ul.serialsList li {
    display: inline; 
    margin-right: 5px; 

    padding: 3px; 
    color: aliceblue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
}
a:link{
    color: aliceblue;
}
#serials{
    border-radius: 10%;
}
#gotDescr{
    text-align: center;
    position: relative;
}
#ouatDescr{
    text-align: center;
    position: relative;
}
#bbtDescr{
    text-align: center;
    position: relative;
}
#siteDescr{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    background-color: dodgerblue;
    width: 755px;
    margin:0 auto;
    display: block;
    border-radius: 10%;
}
#author{
    text-align: center;
    color: aliceblue;
}